{% extends 'master' %}

{% block content %}
    <div class="__banner">
        <div class="banner__inner">
            <img src="/assets/logo.svg">
            <h2>Practical <span>Reliable</span> Productive</h2>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
{% endblock %}
