{% extends 'master' %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading">Simulador par</div>
        <div class="panel-body">
          <dl class="dl-horizontal">
                  <dt>Servidor Asignado</dt>
                  <dd><span id="catalogo_id"></span></dd>
                </dl>
                <button type="button" class="btn btn-primary pull-right" onclick="getCatalogoLessBusy()">Solicitar servidor</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
var socket = io.connect('/par');

socket.on('returnCatalogoLessBusy',function(result){
    $('#catalogo_id').text(result.socket_id);
});

function getCatalogoLessBusy(){
    socket.emit('getCatalogoLessBusy');
}

</script>
{% endblock %}