{% extends 'master' %}

{% block content %}
  <div class="posts-wrapper">
    {% for post in posts %} 
      <div class="post">
        <h2><a href=""> {{ post.title }} </a></h2> 
        <p> {{ post.content }} </p>
      </div>
      {% else %}
        <h2> No posts found </h2>
    {% endfor %}
  </div>
  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
{% endblock %}